# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg

# Go
# Compiled Object files, builds, and executables
*.o
*.a
*.exe
*.exe~
*.dll
*.so
*.dylib

# Don't Ignore Bench Artifacts
!benchmarks/
!benchmarks/runs/
!benchmarks/runs/**/*
!benchmarks/latest/
!benchmarks/latest/**/*

# Test binary, built with `go test -c`
*.test

# Folders
_obj/
_test/
bin/
pkg/

# Go Module
go.sum

# IDEs and OS-specific
.vscode/
.idea/
*.swp
.DS_Store